

body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}
#Calculator{
    font-family: Arial, sans-serif;
    background-color: gray;
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
}

#display{
    width: 100%;
    padding:20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: gray;
    color: white;
}
#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}

button{
    width: 100px ;
    height: 100px;
    border-radius: 50px ;
    border: none; 
    background-color: rgb(27, 10, 42);
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor:pointer; 
}

button:hover{
    background-color: rgb(157, 115, 165);
}

button:active{
    background-color: rgb(231, 221, 233);
}
.operator-btn{
    background-color:  rgb(55, 142, 55);
}
.operator-btn:hover{
    background-color: lightgreen;
}